{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

    <div class="content container">
<div class="posts">

      {{ range .Data.Pages }}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h1>

    <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>

    {{ .Content }}
  </div>
  {{ end }}
</div>
</div>

  </body>
</html>
