{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

  <div class="content container">
    <ul class="posts">
        {{ range .Data.Pages }}
        <li>
          <span><a href="{{ .Permalink }}">{{ .Title }}</a> <time class="pull-right post-list">{{ .Date.Format "2006-01-02" }}</time></span>
        </li>
        {{ end }}
    </ul>
  </div>
</body>
</html>
