	{{ partial "head.html" . }}
	<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
		{{ partial "sidebar.html" . }}

		<div class="content container">
			<div class="post">
			 	<h1>{{ .Title }}</h1>
			  <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
			      {{ .Content }}
			</div>

			{{ if and (isset .Site.Params "disqusShortname") (ne .Site.Params.disqusShortname "") }}
				<h2>Comments</h2>
				{{ partial "disqus" . }}
			{{ end }}
		</div>

  </body>
</html>
