<div class="sidebar" style="background: url({{.Site.BaseURL}}{{.Site.Params.sidebar_background}})">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}Theme description should be here!{{end}}
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/">Strona główna</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>
    <div class="sidebar-footer">
        <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy;
            {{.Now.Format "2006"}}. Wszystkie prawa zastrzeżone. {{end}}</p>
        </div>
  </div>
</div>
